
@import url('https://fonts.googleapis.com/css2?family=Nova+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nova+Mono&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.index-page {
    font-family: "Poppins", sans-serif;
    background-image: linear-gradient(0deg, rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(/img/stock.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.login-page {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(0deg, rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(/img/stock.jpg) no-repeat;
    background-size: cover;
    background-position: center;
}

.login-page .box{
    width: 420px;
    background: transparent;
    border: 2px solid rgba(255,255,255,.2);
    backdrop-filter: blur(15px);
    box-shadow: 0 0 10px rgba(0,0,0,.2);
    color: #fff;
    border-radius: 10px;
    padding: 38px 40px;
}

.login-page .box h1 {
    font-size: 36px;
    text-align: center;
} 

.login-page .box .input-box {
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0;
}

.input-box input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid rgba(255,255,255, .2);
    border-radius: 40px;
    font-size: 16px;
    color: #fff;
    padding: 20px 45px 20px 20px;
}

.input-box input::placeholder {
    color: #fff;

}

.input-box i {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
}

.box .remember-forgot {
    display: flex;
    justify-content: space-between;
    font-size: 14.5px;
    margin: -15px 0 15px;

}

.box .remember-forgot label input {
    accent-color: #fff;
    margin-right: 3px;
}

.box .remember-forgot a {
    color: #fff;
    text-decoration: none;
}

.box .remember-forgot a:hover {
    text-decoration: underline;
}

.box .btn {
    width: 100%;
    height: 45px;
    background: #fff;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0,0,0,.1);
    cursor: pointer;
    font-size: 16px;
    color: #333;
    font-weight: 600;
}

.box .register-link {
    font-size: 14.5px;
    text-align: center;
    margin: 20px 0 15px;
}

.box .register-link p a {
    color: #fff;
    text-decoration: none;
    font-weight: 600;
}

.box .register-link p a:hover {
    text-decoration: underline;
}



header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    font-size: 18px;
    background: transparent;
    border-bottom: 2px solid rgba(255,255,255,.2);
    backdrop-filter: blur(15px);
    color: rgb(255, 255, 255);
}

.logo {
    display: flex;
    align-items: center;
}

.logo-btn {
    color: white;
    margin: auto;
    margin-left: 10px;
    text-decoration: none;
    display: inline-block;
    transition: transform 0.3s ease;
}

.logo-btn:hover {
    color: #ffffff;
    transform: scale(1.08);
}


nav ul {
    list-style: none;
    display: flex;
}

nav li {
    margin-left: 10px;
}

nav a {
    margin: auto;
    margin-right: 15px;
    color: white;
    text-decoration: none;
    display: inline-block;
    transition: transform 0.3s ease;
}

nav a:hover {
    color: #ffffff;
    transform: scale(1.08);
}

.hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 200px 30px;
    text-align: center;
    color: white;
    margin-top: -160px;
}

.hero h1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 5em;
    margin: 0;
}

.hero p {
    margin-top: 0;
    font-size: 1.2em;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

.img-inicio {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 10px;
    gap: 20px;
}

.img-inicio img {
    width: 45%;
    height: auto;
    object-fit: cover;
    border-radius: 10px; 
}

#funcionalidades {
    margin-bottom: 60px;
    display: flex;
    padding: 40px;
    text-align: center;
    flex-direction: column;
    color: white; 
}

#funcionalidades ul {
    list-style: none; /* Elimina los puntos */
    padding: 0; /* Elimina el padding por defecto */
    text-align: center; /* Centra las cajas */
}

#funcionalidades li {
    display: block; /* Hace que cada elemento esté en una nueva línea */
    background: rgba(100, 97, 97, 0.664); /* Color de fondo semi-transparente */
    padding: 15px 20px; /* Espaciado dentro de la caja */
    margin: 10px auto; /* Espaciado entre las cajas y las centra */
    width: fit-content; /* La caja se ajusta al contenido */
    border-radius: 10px; /* Bordes redondeados */
    border-color: #fff;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2); /* Sombra para efecto de elevación */
    font-weight: bold; /* Texto en negrita */
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

#funcionalidades li:hover {
    transform: scale(1.05);
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.3);
}

footer {
    text-align: center;
    padding: 25px;
    background: transparent;
    border-top: 2px solid rgba(255,255,255,.2);
    backdrop-filter: blur(15px);
}

footer p {
    color: white;
    font-size: 15px;
    text-decoration: none;
    margin-bottom: 0;
}
